*body {
    margin: 0%;
}

#wrapperBovino {
    min-height: 100vh;
    padding-bottom: 8px;
}

.container,
.formularioCadastroVacina,
.formularioIngrediente,
.formularioAlimentacao,
.formularioLogin,
.formularioDieta,
.formularioCadastroBovino,
.formularioCadastroDose,
.formulario,
.sub-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.container,
.formularioLogin,
.formularioCadastroBovino {
    margin: 0 auto;
    width: 600px;
    background-color: #E0E7CA;
    border-radius: 1em;
    margin-bottom: 40px;
}

.formularioCadastroVacina {
    height: 100%;
    padding-bottom: 60px;
}

.formularioIngrediente,
.formularioCadastroDose,
.formularioAlimentacao,
.formularioCadastroBovino,
.formularioDieta {
    width: 700px !important;
}

.sub-div {
    width: fit-content;
    margin: 0;
}

.id_ {
    width: 40em;
    font-weight: bold;
    margin-top: 1em;
}


.nomeVacina,
.fabricanteVacina,
.informacaoVacina,
.nomePessoa,
.emailPessoa,
.cargoPessoa,
.senhaPessoa,
.nomeAlimentacao,
.faltaConsumirAlimentacao,
.qntDiariaRecomendadaAlimentacao,
.nomeFazenda,
.sitioFazenda,
.cidadeFazenda,
.cepFazenda,
.complementoFazenda,
.numeroFazenda,
.nomeBovino,
.pesoBovino,
.idadeBovino,
.sexoBovino,
.producaoLeite,
.dandoLeiteBovino,
.gravidaBovino,
.reprodutorBovino,
.dataInicioBovino,
.diasGestacaoBovino,
.dataNascimentoBovino,
.corBovino,
.racaBovino,
.chifreBovino,
.idBovino,
.nomeDose,
.infoDose,
.dataAplicadaDose,
.dataPrevDose,
.loteDose {
    width: 30em;
    border-radius: 1em;
    border: solid 1.5px #6D3B00;
    background-color: #eaece2;
    margin-top: -1em;
    padding: 0.3em;
}

.botao {
    background-color: #83A93A;
    color: white;
    margin-top: 2em;
    width: 40em;
    border-radius: 1em;
    border-color: #6D3B00;
    padding: 0.2em;
}

.botaoVoltar {
    margin-left: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.bi {
    color: black;
}

.botaoCadastrar {
    padding: 4px;
    border-radius: 5px;
    width: 80px;
}

.botaoCadastrarS {
    padding: 4px;
    border-radius: 5px;
    width: 100px;
}

.botaoCadastrarListar {
    padding: 4px;
    border-radius: 5px;
    width: 120px;
}

.botaoCadastrarListarIngrediente {
    padding: 4px;
    border-radius: 5px;
    width: 200px;
}

.botaoEditar {
    padding: 4px;
    width: 80px;
    border-radius: 5px;
}

.botaoApagar {
    border-radius: 5px;
}

.tabelaListagem {
    background-color: #e0e7ca;

}

.tabelaListagem td {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}