*body {
    margin: 0;
}

#wrapper {
    /*min-height: 100vh;*/
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 50%;
}

.guardaBotao {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.botao {
    background-color: #83A93A;
    color: white;
    margin-top: 2em;
    width: 28em;
    border-radius: 1em;
    border-color: #6D3B00;
    padding: 0.2em;
    font-size: 14pt;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: #6D3B00
}

.botaoVoltar {
    margin-left: 10px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
}

.bi {
    color: black;
}